<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/settings.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    </head>

    <body>
        <%- include('../includes/nav-bar.ejs') %>

            <%- include('../includes/create-issue-modal.ejs') %>

                <main>
                    <div class="container">
                        <!-- ------------------- LEFT --------------------------->
                        <div class="left">

                            <!-- --------------------SIDEBAR----------------------->

                            <%- include('../includes/side-bar.ejs') %>

                                <!-------------------END OF SIDEBAR-------------------->

                        </div>



                        <!-- ------------------- MAIN CONTENT --------------------------->
                        <div class="middle settings-page-middle">
                            <h3 class="settings-page">Settings</h3> <br />
                            <div class="form-control">
                                <form action="/settings" method="post">

                                    <a class="profile">
                                        <label for="fname">Profile Photo</label>
                                        <div class="profile-photoSettings">
                                            <img class="settings-page-piture" src="./images/<%= profilePic %>" alt="profile-picture">
                                        </div>
                                    </a>
                                
                                    <label for="fname">Username</label>
                                    <input class="form-control text" type="text" id="username" name="username"
                                        placeholder="Input: New name" value="<%= username  %> ">

                                    <label for="lname">Email:</label>
                                    <input class="form-control text" type="text" id="email" name="email"
                                        placeholder="Input: New email" value="<%= email %> ">


                                    <input style="width: 100%;margin-top: 2%;padding: 2%;font-size: 1.2rem;"
                                        type="submit" value="Save" class="btn btn-primary">
                                </form>
                            </div>
                        </div>


                        <!-- ------------------- RIGHT --------------------------->
                        <div class="right">
                            <!-- --------------------SUGGESTED USERS --------------------------->

                            <%- include('../includes/suggested-user.ejs') %>

                        </div>
                    </div>
                </main>


                </div>
                <script src="./js/index.js"></script>
                <%- include('../includes/end.ejs') %>